:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
button {
  cursor: pointer;
}

.newDonation {
  width: 10rem;
  font-size: large;
  height: 2rem;
  margin-top: 2rem;
  border-radius: 0.6rem;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
}


.new button {
  width: 10rem;
  height: 2.7rem;
  font-size: large;
  border-radius: 0.7rem;
  background-color: #8ad88f;
}

input[type='radio'] {
  accent-color: black;
}
